body {
  font-family: "VT323";
  font-size: 22px;
  border: 10px solid #cc2a36;
  margin: 25px;
}

/* HEADER */
#header {
  padding-top: 50px; 
  padding-bottom: 25px;
  padding-left: 50px; 
  padding-right: 50px;
}

h1 {
  color: #00a0b0;
  font-size: 3em;
  margin: 0px;
}

h3 {
  color: #4f372d;
  font-size: 2em;
  margin: 0px;
}

/* INTRO PARAGRAPH */
#intro {
  padding-top: 25px; 
  padding-bottom: 25px;
  padding-left: 50px; 
  padding-right: 50px;
  font-size: 1em;
}

#intro p {
  color: #eb6841;
}


/* BUTTON AND COUNT DISPLAY */
.container {
  display: flex; 
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  padding-top: 25px; 
  padding-bottom: 50px;
  padding-left: 50px; 
  padding-right: 50px;
  font-size: 1em; /*only applies to font-size of the counter display*/
}

#countDisplay {
  padding-left:20px;
  padding-right:20px;
  border-radius: 10px;
  border: 3px solid #008080;
  color: #008080;
}

#buttonCounter{
  font-family: "VT323";
  background-color: #edc951;
  color: black;
  border: 3px solid #00a0b0;
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
}

#buttonCounter:hover{
  color: white;
  background-color:#00a0b0;
  border: 3px solid #edc951;
}

#buttonCounter:active {
  color: #00a0b0;
  background-color: white;
  border: 3px solid black;
  box-shadow: 0 5px #edc951;
  transform: translateY(5px);
}